html
  head
    title Identipository
    script(type='text/javascript', src='/jquery/dist/jquery.js')
    script(type='text/javascript', src='/json-editor/dist/jsoneditor.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
    !=js("index")
  body
    #profile
